    <div class="container" id="aboutContainer">


    <div class="jumbotron">
 		<div class="container">
 	 		<center><h1 style='color: white;'><i class="icon icon-copy"></i> docgoo.se...</h1></center>
 	 		<div class='row'>
				<div class='stats'>
					<center><h2>
		                <div class='col-md-3'>
		                    22 schools					
		                </div>
				
		                <div class='col-md-3'>
		                    20k courses					
		                </div>
				
		                <div class='col-md-3'>
		                    100k uploads					
		                </div>
						
		                <div class='col-md-3'>
		                    1 million downloads				
		                </div>
		             </center></h2>
                			
                </div>

			</div>

			<div class='aboutList'>
	 	 		<ul>
					<li><h4>...is a repository of past exams, homework solutions, lecture notes, and more.</h4></li>
					<li><h4>...is an open source, universal course catalog.</h4></li>
					<li><h4>...levels the playing field by ensuring all students, not just those with friends from prior semesters, have equal access to course material.</h4></li>
				</ul>
			<center><h3> Mobile optimzed!  Use it on your phone!</h3></center>
			</div>

 	 	</div><!-- container -->
 	</div><!-- jumbotron -->
   <center><center>

   				<h3>Top Courses at Cornell:</h3>
   				<ul>
   					<li>AEM 1200: Introduction to Business and Meaningless Life: 256 documents!</li>
   					<li>BIO 1234: Are You Smarter Than a 5th Grader?: 512 documents!</li>
   					<li>AEM 3600: So You Want To Work On Wall Street: 128 documents!</li>
   				</ul>


			

		<div class='row'>
			<div class='col-md-12'>
			<h3><center>Contact us:</center></h3>
			
			</div>
		</div>

		<div class='row'>
			<div class='col-md-1 col-md-offset-5'>
				<center><a href="http://www.facebook.com/docgoose">Facebook</a></center>
			</div>
			<div class='col-md-1'>
				<center><a href="mailto:docgoose@gmail.com">Email</a></center>
			</div>
		</div>
            <!-- row -->
        </div>
        <!-- container -->