<html>
	<head>
		<title>Config</title>
		<link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	</head>
	<body>
		<h1 style='text-align: center;'>Docgoose Administration Page</h1>
		<br />
		<div class='container'>
			<form class='form-horizontal' role='form'>
				<div class='form-group'>
					<label for='initialize-schools' class='col-xs-5 control-label'>Initialize Schools</label>
					<div class="col-xs-4">
						<button class='btn btn-danger' id='initialize-schools'>Reset From JSON</button>
					</div>
				</div>
				<div class='form-group'>
					<label for='initialize-schools' class='col-xs-5 control-label'>Initialize Classes</label>
					<div class="col-xs-4">
						<button class='btn btn-danger' id='initialize-schools'>Reset From JSON</button>
					</div>
				</div>
			</form>
		</div>
	</body>
</html>