<!DOCTYPE html>
<html>
  <head>
    <title>docgoo.se</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="docgoo.se is an open source platform for students and educators to share open source homework solutions, past exams, lecture notes, and more.">
	<meta name="author" content="Patrick Steadman & Clark Gredoña">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.css' />
	<link href='/stylesheets/pt_sans.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="/images/favicon.ico">
  </head>
  <body>
    <div class='container'>
    	<div class='row'><div id='spacer' class='col-md-12'></div></div>
    	<div class='row'>
    		<div class='col-md-2 col-md-offset-1'>
    			<h1>docgoo<span class='black'>.se</span></h1>
    		</div><!-- col -->
    		<div class='col-md-8'>
    			<div id='search-form'>
						<div class="input-group">
							<input type='text' class='form-control' placeholder='Search by course code or number...'>
					      <div class="input-group-btn">
					        <button style='background-color: rgb(179, 27, 27); color: white; border-color:rgb(170, 24, 24) ;' type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Cornell <span style="color: white;" class="caret"></span></button>
					        <ul class="dropdown-menu">
							<li style="background-color: white;"><a style='color:red;' href="mit"><b>McGill</b></a></li>
							<li style="background-color: rgb(28, 32, 69)"><a style='color: gold;'href="berkeley">Berkeley</a></li>
							<li style="background-color: #947550"><a style='color: black;'href="berkeley">Georgia Tech</a></li>
							<li style="background-color: rgb(164, 16, 52);"><a style='color: white;' href="#">Harvard</a></li>
							<li style="background-color: #F47F24"><a style='color: #003C7D;'href="berkeley">Illinois</a></li>
							<li style="background-color: rgb(0,39,76)"><a style='color: rgb(255,203,5);'href="#">Michigan</a></li>
							<li style="background-color: #666666;"><a style='color:#993333;' href="mit"><b>MIT</b></a></li>
							<li style="background-color: #682069"><a style='color:white;' href="mit">NYU</a></li>
							<li style="background-color: #BB0000"><a style='color: #666666;'href="berkeley"><b>Ohio State</b></a></li>
							<li style="background-color: #000099"><a style='color: white;'href="berkeley">Penn State</a></li>
							<li style="background-color: #bf910c"><a style='color: black;'href="berkeley">Purdue</a></li>
							<li style="background-color: #d21034"><a style='color: white;'href="berkeley">Rutgers</a></li>
							<li style="background-color: #8C1515;"><a style='color: white;' href="#">Stanford</a></li>
							<li style="background-color: #CC5500"><a style='color: white;'href="#">Texas</a></li>
							<li style="background-color: #500000"><a style='color: white;'href="berkeley">Texas A&M</a></li>							
							<li style="background-color: #990000"><a style='color: #FFCC00;'href="#">USC</a></li>							
							<li style="background-color: #660000"><a style='color: #ff6600;'href="#">Virgina Tech</a></li>
							<li style="background-color: white"><a style='color: #39275B;'href="#"><b>Washington</b></a></li>
							<li style="background-color: #b70101"><a style='color: #E7D9C1;'href="#">Wisconsin</a></li>				          
					          <li style="background-color: rgb(15, 77, 146);"><a style='color: white;' href="#">Yale</a></li>
					          
					          <li class="divider"></li>
					          <li><a href="#">Add Your School</a></li>
					        </ul>
					      </div><!-- /btn-group -->
					</div><!-- /input-group -->
    		</div>
    		</div><!-- col -->
    	</div><!-- row -->
    	<div class='row'>
    		<div class='col-md-10 col-md-offset-1'>
    			<img id='geese' src='images/geese.png'>
    		</div><!-- col -->
    	</div><!-- row -->
    </div> <!-- container -->

  <!-- JAVASCRIPTS -->
  <script type='text/javascript' src='javascripts/jquery-1.10.2.min.js'></script>
  <script type='text/javascript' src='javascripts/bootstrap.min.js'></script>
  <script type='text/javascript' src='javascripts/underscore.js'></script>
  <script type='text/javascript' src='javascripts/backbone-min.js'></script>
	<!--<script type='text/javascript' src='javascripts/site.js'></script>-->
  </body>
</html>