@docgoose-red: rgb(153, 23, 60);
 @darker-gray: darken(#eee, 20%);

 .navBarLink {
	color: #2E2633 !important;
	
 }

.navBarLink:hover {
	color: rgb(153, 23, 60)!important;
	text-decoration: none !important;
}
 
.dropdown-menu li {
    float: left;
	width: 135px;
}


 #logoDiv {
	margin-left: 15px;
 }
 

 #navBarContainer{
	max-width: 1500px;
 }
 
 .navBarText {
	font-size: 15px;	
 }
 
 #uploadFileColumn {
	margin-top: 11px;
 }
 
  #aboutColumn {
	margin-top: 11px;
 }
 
 
 .input-group{
	margin-top: 5px;
 }
	
  h1 {
    color: @docgoose-red;
    font-size: 24px !important;
    /*margin-top: 28px !important;*/
    margin-top: 10px !important;
    text-shadow: 1px 1px 2px @darker-gray;
}
#search-form {
    /*margin-top: 29px;	*/
}
.btn-default .caret {
    border-top-color: white !important;
}
 #masthead {
	width: 100%;
}
#spacer {
    height: 25px;
}
.dropdown-menu {
    min-width: 140px !important;
    margin-left: -30px;
}
#geese {
    display: block;
    margin-top: 75px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: .8;
}
.black {
    color: mix(rgb(46, 38, 51), rgb(153, 23, 60), 50%);
}

#lean_overlay {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
#uploadForm {
    width: 364px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}

#invalidUpload {
    width: 364px;
    padding-bottom: 2px;
    display:none;
    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}

#uploadForm .txt-fld {
    position: relative;
    width: 364px;
    padding: 14px 20px;
    border-bottom: 1px solid #EEE;
    text-align: right;
	font-size: 62.5%;
}
#uploadForm .btn-fld {
    width: 254px;
    overflow: hidden;
    padding: 12px 20px 12px 130px;
}
#uploadForm .txt-fld label {
    display: block;
    float: left;
    padding-top: 8px;
    color: #222;
    font-size: 1.3em;
    text-align: left;
	font-weight: normal
}
#uploadForm .txt-fld input {
    width: 244px;
    padding: 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    font-size: 1.2em;
    color: #222;
    background: #F7F7F7;    
    outline: none;
    border-top: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #E7E6E6;
    border-bottom: 1px solid #E7E6E6;
}
#uploadForm .txt-fld input.good_input {
    background: #DEF5E1 url(../img/good.png) 236px center no-repeat;
}
#uploadForm .txt-fld input.error_input {
    background: #FDE0E0;
}

#file_support {
	font-size: 10px;
	display: none
}

#uploadForm .file-fld {
	width: 364px;padding-left: 17px;
padding-top: 8px;
padding-bottom: 8px;
border-bottom: 1px solid #EEE;
}

ul {
	list-style-type: none;
	width: 272px;
}

button {
    float: right;
    font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background: #3F9D4A;
    border: none;
    width: auto;
    overflow: visible;
    font-size: 1.4em;
    color: #FFF;
    padding: 7px 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.modal_close {
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 14px;
    height: 14px;
    background: url(../img/modal_close.png);
    z-index: 2;
}
input.parsley-success, textarea.parsley-success {
        color: #468847 !important;
        background-color: #DFF0D8 !important;
        border: 1px solid #D6E9C6 !important;
      }
      input.parsley-error, textarea.parsley-error {
        color: #B94A48 !important;
        background-color: #F2DEDE !important;
        border: 1px solid #EED3D7 !important;
      }
