@docgoose-red:					rgb(153, 23, 60);
@darker-gray:						darken(#eee, 20%);

h1 {
	color: @docgoose-red;
	font-size: 34px !important;
	/*margin-top: 28px !important;*/
	margin-top: 0px !important;
	text-shadow: 1px 1px 2px @darker-gray; 
}

#search-form{
	/*margin-top: 29px;	*/
}

.btn-default .caret {
	border-top-color: white !important;
}

.row{
	
}

#spacer {
	height: 25px;
}

.dropdown-menu{
	min-width: 140px !important;
	margin-left: -30px;
}

#geese {
	  display: block;
	  margin-top: 75px;
	  margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: .8;
}

.black{
	color: mix(rgb(46, 38, 51), rgb(153, 23, 60),50%);
}